@mixin responsive($width) {
    @media screen and (max-width:$width) {
        @content;
    }
}

@mixin header($color) {
    color: $color;
    font-family: $font-black;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

@mixin btn($color) {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    text-decoration: none;
    background-color: $color;
    font-weight: bold;
    color:$light-color;
    border-radius: 3rem;
}

@mixin per_month($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    p {
        margin: 0 1rem;
        color: $color;
    }
    &::after,&::before {
        content: '';
        display: block;
        width: 4.5rem;
        height: 2px;
        background-color: $color;
    }
}

@mixin price($color) {
    color:$color;
    padding: 0 .5rem;
    font-size: 4rem;
    line-height: 1;
    span {
        font-size: 8.6rem;
        font-family: $font-black;
    }
}